<div class="container">
  <div>
    <button class="btn btn-outline-secondary mr-2" (click)="switchView('showDeployNewSmartProgram')">Deploy New Smart Program</button>
    <button class="btn btn-outline-secondary mr-2" (click)="switchView('showWorkersList')">Workers List</button>
  </div>

  <div *ngIf="showDeployNewSmartProgram">
    <h2>New Smart Program</h2>

      <div class="form-group">
        <label for="horizonAddress">Horizon Address</label>
        <input type="text" class="form-control" value="{{ horizonAddress }}" (input)=" horizonAddress = $event.target.value">
      </div>

      <div class="form-group">
        <label for="networkPassphrase">Network Passphrase</label>
        <input type="text" class="form-control" value="{{ networkPassphrase }}" (input)="networkPassphrase = $event.target.value">
      </div>

      <div class="form-group">
        <label>Base State</label>
        <input type="text" class="form-control" value="{{ emptyFileOnIpfsHash }}" (input)="emptyFileOnIpfsHash = $event.target.value">
      </div>

      <div class="form-group">
        <label for="imageAddress">Image Address</label>
        <input type="text" class="form-control" (input)="imageAddress = $event.target.value">
      </div>

      <div class="form-group">
        <label for="imageHash">Image Hash</label>
        <input type="text" class="form-control" (input)="imageHash = $event.target.value">
      </div>

      <div class="form-group" *ngFor="let worker of selected_workers; index as i">
        <label for="executionFee">worker {{ i+1 }} properties</label>

        <div style="display: flex;">
          <span style="text-align: center; width: 100px;">public key</span>
          <input type="text" class="form-control" value="{{ worker.public_key }}" (input)="selected_workers[i].public_key = $event.target.value">
        </div>

        <div style="display: flex;">
          <span style="text-align: center; width: 100px;">address</span>
          <input type="text" class="form-control" value="{{ worker.address }}" (input)="selected_workers[i].address = $event.target.value">
        </div>

      </div>

      <button type="button" class="btn btn-primary" (click)="addEmptyWorkerToSelectedList()">add another worker</button>

      <div class="form-group" style="margin-top: 20px;">
        <label for="smartAccountKeyPair">Smart Account Key Pair</label>
        <input type="text" class="form-control" [(ngModel)]="smartAccountPublicKey">
        <input type="text" class="form-control" [(ngModel)]="smartAccountPrivateKey">
        <button class="btn btn-outline-secondary mr-2" (click)="generateNewKeyPair()">Generate New KeyPair</button>
      </div>

      <div class="form-group">
        <label for="smartAccountCreatorSeed">Smart Account Creator Seed</label>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="a secret key needed to pay transaction fee for create smart account">more info</button>
        <input type="text" class="form-control" (input)="smartAccountCreatorSeed = $event.target.value">
      </div>

      <div class="form-group">
        <label for="executionFee">Execution Fee (in stroops)</label>
        <input type="text" class="form-control" value="{{ executionFee }}" (input)="executionFee = $event.target.value">
      </div>

      <div *ngIf="result_message != ''">
        <pre>{{ result_message }}</pre>
      </div>

      <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>

  </div>

  <div *ngIf="showWorkersList">

  		<div class="container-table100">
  			<div class="wrap-table100">
  				<div class="table100 ver1 m-b-110">
  					<div class="table100-head">
  						<table>
  							<thead>
  								<tr class="row100 head">
  									<th class="cell100 column1">availablily</th>
  									<th class="cell100 column2">address</th>
  									<th class="cell100 column3">public key</th>
  									<th class="cell100 column4">network passphrase</th>
  									<th class="cell100 column5">horizon address</th>
                    <th class="cell100 column6">ipfs address</th>
  								</tr>
  							</thead>
  						</table>
  					</div>

  					<div class="table100-body js-pscroll">
  						<table>
  							<tbody>

                  <tr *ngFor="let worker of workers">

                    <td class="cell100 column1">
                      <span class="dot_green" *ngIf="worker.is_up > 0"></span>
                      <span class="dot_dark" *ngIf="worker.is_up <= 0"></span>
                    </td>

                    <td class="cell100 column2">{{ worker.address }}</td>
                    <td class="cell100 column3">
                      {{ worker.public_key.slice(0, 20) }}...
                      <button type="button" class="btn btn-link" (click)="copyMessage(worker.public_key)">Copy this</button>
                    </td>
                    <td class="cell100 column4">{{ worker.network_passphrase }}</td>
                    <td class="cell100 column5">{{ worker.horizon_address }}</td>
                    <td class="cell100 column6">{{ worker.ipfs_address }}</td>
                  </tr>

                </tbody>
  						</table>
  					</div>
          </div>
        </div>
      </div>

      <h2 style="margin-top: 150px;">Add New Worker</h2>
      <div class="form-group">
        <label>public key</label>
        <input type="text" class="form-control" (input)="newWorkerPublicKey = $event.target.value">
      </div>

      <div class="form-group">
        <label>address</label>
        <input type="text" class="form-control" (input)="newWorkerAddress = $event.target.value">
      </div>

      <div class="form-group">
        <label>horizon address</label>
        <input type="text" class="form-control" value="{{ newWorkerHorizon }}" (input)="newWorkerHorizon = $event.target.value">
      </div>

      <div class="form-group">
        <label>network passphrase</label>
        <input type="text" class="form-control" value="{{ newWorkerNetworkPassphrase }}" (input)="newWorkerNetworkPassphrase = $event.target.value">
      </div>

      <div class="form-group">
        <label>ipfs address</label>
        <input type="text" class="form-control" (input)="newWorkerIpfsAddress = $event.target.value">
      </div>

      <div *ngIf="addNewWorkerResultMessage != ''">
        <pre>{{ addNewWorkerResultMessage }}</pre>
      </div>

      <button type="button" class="btn btn-success" (click)="addNewWorker()">Submit</button>
  </div>


</div>

<router-outlet></router-outlet>
